<launch>

<node name="stage" pkg="stage_ros" type="stageros" args="$(find speedkiwi_core)/world/DefaultWorld.world"/>

<!-- DO NOT DELETE - EXAMPLE NODES -

   		<node pkg="beginner_tutorials" name="talker" type="talker.py"/>

		<node pkg="beginner_tutorials" name="listener" type="listener.py"/>
-->

<test test-name="test_move_action" pkg="speedkiwi_core" type="test_move_action.py" />


<node name="console" pkg="rqt_console" type="rqt_console"/>


</launch>

