<launch>

<node name="stage" pkg="stage_ros" type="stageros" args="-g $(find speedkiwi_core)/world/DefaultWorld.world"/>

<!-- DO NOT DELETE - EXAMPLE NODES -

   		<node pkg="beginner_tutorials" name="talker" type="talker.py"/>

		<node pkg="beginner_tutorials" name="listener" type="listener.py"/>
-->

<test name="move_action_test" test-name="test_move_action" pkg="speedkiwi_test" type="test_move_action.py" />
<test name="navigate_action_test" test-name="test_navigate_action" pkg="speedkiwi_test" type="test_navigate_action.py" />
<test name="robot_test" test-name="test_robot" pkg="speedkiwi_test" type="test_robot.py" />
<test name="status_test" test-name="test_status" pkg="speedkiwi_test" type="test_status.py" />
<test name="animal_test" test-name="test_animal" pkg="speedkiwi_test" type="test_animal.py" />
<test name="educated_person_test" test-name="test_educated_person" pkg="speedkiwi_test" type="test_educated_person.py" />
<test name="person_test" test-name="test_person" pkg="speedkiwi_test" type="test_person.py" />
<!--<test name="locations_test" test-name="test_locations" pkg="speedkiwi_test" type="test_locations.py" />-->

<!--<node name="console" pkg="rqt_console" type="rqt_console"/>-->


</launch>

